#partner-thumbnail.thumbnail{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0
}
#partnerimage{
    width: 100%;
}
.delete-form{
    display: inline;
}
.partnerlink{
    word-wrap: break-word;
}
.partner-text{
    margin-left: 20px;
}
.navbar-default{
    background-color: #337ab7;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}