#partner-thumbnail.thumbnail{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0
}
#partnerimage{
    width: 100%;
}

.btnWrapper{
    margin-bottom:5px;
}
.smaillInput2{
    width: 60%;
}
.smallInput{
    width: 20%;
}
.viewThisResult {
    display: none;
}
 #optiontoggle:checked ~ * .viewThisResult{
    display: block;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
}

.resultContainer{
    height: 65px
}
.buttonmargin{
    margin-bottom: 2px;
    margin-top: 0;
    padding-top:0
}
.statusgoed{
    background-color: #def7e1;
}
.statusslecht{
    background-color: #f7dede;
}
.postlinkwidth{
    word-break: break-all;
    width: 20%
}
.inline-form{
    display: inline;
}
.partnerlink{
    word-wrap: break-word;
}
.partner-text{
    margin-left: 20px;
}
.navbar-default{
    background-color: #337ab7;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}